<main class="main">
  <article class="article">
    <div class="article-header">
      <h4>Lista geral de tarefas</h4>
      <button (click)="openModal('add')">Adicionar tarefa</button>
    </div>
    <div class="table">
      <table>
        @if(tasks.length > 0) {
          <thead class="table-header">
            <tr class="table-header">
              <th>Id</th>
              <th>Titulo</th>
              <th>Descrição</th>
              <th>Data</th>
              <th>Status</th>
            </tr>
          </thead>
          @for(task of tasks; track task.id) {
            <tbody>
              <tr>
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.dueDate | date }}</td>
                <td>{{task.status}}</td>
                <td>
                  @if(task.status === "PENDENTE") {
                    <button (click)="openModal('update', task)">Atualizar</button>
                  }
                  <button (click)="openModal('delete', task)">Excluir</button>
                </td>
              </tr>
            </tbody>
          }
        } @else { <h4>Não ha tarefa cadastrada</h4> }
      </table>
  </div>
  </article>
</main>

<!--modais-->

<app-modal [showModal]="activeModal === 'add'" (closeModal)="closeModal()" [title]="'Adicionar'">
  <form class="form" [formGroup]="taskForm" (ngSubmit)="createTask()">
    <label for="titulo">Titulo:</label>
    <input type="text" placeholder="Titulo" formControlName="title" name="titulo">

    <label for="descricao">Descrição:</label>
    <input type="text" placeholder="Descrição" formControlName="description" id="descricao">

    <button class="button-form" type="submit">Adicionar</button>
  </form>
</app-modal>

<app-modal [showModal]="activeModal === 'delete'" (closeModal)="closeModal()" [title]="'Excluir'">
  <span>tem certeza disso que deseja excluir a tarefa?</span>
  <button class="button-form" type="submit" (click)="deleteTasks()">Excluir</button>
</app-modal>

<app-modal [showModal]="activeModal === 'update'" (closeModal)="closeModal()" [title]="'Atualizar'">
  <form class="form" (ngSubmit)="updateTask()" [formGroup]="taskForm">
    <label for="titulo">Titulo:</label>
    <input type="text" placeholder="Titulo" formControlName="title" id="titulo">

    <label for="descricao">Descrição:</label>
    <input type="text" placeholder="Descrição" formControlName="description" id="descricao">

    <label for="status">Status:</label>
    <select name="Definir Status" id="status" formControlName="status">
      <option value="PENDENTE">Pendente</option>
      <option value="CONCLUIDA">Concluída</option>
    </select>

    <button class="button-form" type="submit">Atualizar</button>
  </form>
</app-modal>
