<main class="main">
  <article class="article">
    <div class="article-header">
      <h3>Lista geral de tarefas</h3>
      <button (click)="openAddModal()">Adicionar tarefa</button>
    </div>
    <div class="table">
      <table>
        <thead class="table-header">
          <tr class="table-header">
            <th>Id</th>
            <th>Titulo</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Status</th>
          </tr>
        </thead>
        @for(task of Tasks; track task.id) {
          <tbody>
            <tr>
              <td>{{task.id}}</td>
              <td>{{task.titulo}}</td>
              <td>{{task.descricao}}</td>
              <td>{{task.data}}</td>
              <td>{{task.status}}</td>
              <td>
                <button (click)="openUpdateModal()">Atualizar</button>
                <button (click)="openDeleteModal()">Excluir</button>
              </td>
            </tr>
          </tbody>
        }
      </table>
  </div>
  </article>
</main>

<!--modais-->

<app-modal [showModal]="showAddModal" (closeModal)="closeAddModal()" [title]="'Adicionar tarefa'">
  <form class="form">
    <label for="titulo">Titulo:</label>
    <input type="text" placeholder="Titulo" id="titulo">

    <label for="descricao">Descrição:</label>
    <input type="text" placeholder="Descrição" id="descricao">

    <button class="button-form" type="submit">Adicionar</button>
  </form>
</app-modal>

<app-modal
  [showModal]="showDeleteModal"
  (closeModal)="closeDeleteModal()"
  [title]="'Excluir tarefa'"
>
  <span>Ao excluir da lista a tarefa sera marcada como concluida, tem certeza disso?</span>
  <button class="button-form" type="submit">Excluir</button>
</app-modal>

<app-modal
  [showModal]="showUpdateModal"
  (closeModal)="closeUpdateModal()"
  [title]="'Atualizar tarefa'"
>
  <form class="form">
    <label for="titulo">Titulo:</label>
    <input type="text" placeholder="Titulo" id="titulo">

    <label for="descricao">Descrição:</label>
    <input type="text" placeholder="Descrição" id="descricao">

    <label for="status">Status:</label>
    <select name="Definir Status" id="status">
      <option value="Pendente">Pendente</option>
      <option value="Concluido">Concluido</option>
    </select>

    <button class="button-form" type="submit">Atualizar</button>
  </form>
</app-modal>
