@use "../../shared/utils/flex.scss";

header {
  background: linear-gradient(rgb(15, 173, 15), rgb(227, 227, 32));
  border-bottom: 2px solid black;
  @include flex.flex(row, flex-end, center, 10px, none);
  padding-right: 20px;
  color: white;

  img { width: 50px; }

  a {
    text-decoration: none;
    color: white;

    &:hover { color: #9f9d9d; }
  }
}
