<main class="main">
  <article class="article">
    <div class="article-header">
      <h3>Lista geral de usuario</h3>
      <form action="">
        <input type="text" placeholder="Pesquisar usuario">
      </form>
    </div>
    <div class="table">
      <table>
        <thead class="table-header">
          <tr class="table-header">
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
          </tr>
        </thead>
        @for(user of Usuarios; track user.id) {
          <tbody>
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.nome}}</td>
              <td>{{user.email}}</td>
              <td><button (click)="OpenModal()">Excluir</button></td>
            </tr>
          </tbody>
        }
      </table>
  </div>
  </article>
</main>

<app-modal
  [showModal]="showModal"
  (closeModal)="CloseModal()"
  [title]="'Excluir usuário'"
>
  <span>
    Tem certeza de que deseja excluir o usuário?
    Caso tenha uma tarefa, ela será excluída junto.
  </span>

  <button class="button-form" type="submit">Excluir</button>
</app-modal>
